@import "./index.scss";




body{
    margin: 190px auto 0 !important;
    background-color: $background-light;
    @include tablet{
        margin: 143px auto 0 !important;
    }
}
a {
    text-decoration: none !important;
}

img,
picture {
    width: 100%;
    display: block;
}