.basic-layout{
    padding: 0 16px;
    
}

.home{
    background-color: $backgrond-dark-light !important;
    box-shadow: 0 -15px 10px 15px rgba(0,0,0,0.5);
    padding: 16px;
    min-height: 100vh;

}