.body{
    display: flex;
    align-items: center;
}


.contenidoBasicLayout{
    padding-top:78px ;
    min-height: 100vh;
    text-align: center;
    @include tablet{
        margin-top:20px!important ;
        padding-top: 40px;
    }
    

    
    .home{
    
        background-color: $backgrond-dark-light !important;
        box-shadow: 0 -15px 10px 15px rgba(0,0,0,0.5);
        padding:16px;
        min-height: 100vh;
        
    }
    
}
.header{
    display: block;
    max-height: 220px;
    @include tablet{
        max-height: 200px;
    }
}

