.footer_container {
    display: block !important;
    text-align: left;
    background-color: black;
    color: white;
    bottom: 0!important;
    clear: both!important;
    width: 100%;
    margin-top: 10px;
}

.footer_container h3 {
    padding-top: 30px;
    padding-left: 50px;
}

.footer_container p {
    padding-left: 50px;
    &:last-child{
        padding-bottom: 25px;
        @include desktop{
            padding-top: 10px;
        }

    }
}

.footer_container-icons {
    padding-left: 50px;
}