.menu{
    padding-bottom: 5px;
    display: flex !important; 
    .ui.grid{
        padding: 0;
        margin: 0 !important;
        justify-content: space-between !important;
    }
    &__left,&__right {
        padding: 0 !important;
        display: flex !important; 
        align-items: center;
        justify-content: flex-end;
        .ui.menu{
            border: 0px !important;
            box-shadow: 2 -2px 5px 2px rgba(0,0,0,0.2) !important;
            background-color: $background-light;
            border-radius:10px !important;
            padding-bottom: 0px;
            .icon{
                color: $backgrond-dark-light;

                
            }
            .item{
                display: inline-flex;
                padding:5px !important;
                color:$backgrond-dark-light;
                border: 0px;
                border-radius:10px !important;
                font-weight: bold;
                &:hover{
                    box-shadow: 2 -2px 5px 2px rgba(237, 234, 234, 0.8) !important;
                    color: $font-color-orange;
                    background-color: $backgrond-dark-light;
                    .icon{
                        color: $font-color-orange;  
                    }         
                    &:before{
                        background-color: $background-dark;
                    } 
                }
                &.m-0 i{
                    margin: 0 !important;
                }
            }
        }
    }    
}